// colors
$brand-color: #1799de;

$clean-color: #fff;
$dark-color: #000;


// fonts
$font-size-default: px-to-rem(14px);

$font-normal: 200;
$font-semi-bold: 400;
$font-bold: 600;

$font-family: Verdana, Arial, Helvetica, sans-serif;
